.general-container{
    background-color: black;
    color: white;
}
.numbers-container{
    display: flex;
    flex-direction: row;
} 

.numbers{
    display: flex;
    align-items: center;
    margin:30px;
    font-size: 40px;
}
